{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended"
    // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/prefer-stateless-function": "warn",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 1
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      // Pragma to use, default to "React"
      "version": "detect"
      // React version. "detect" automatically picks the version you have installed.
    }
  }
}
